@charset "UTF-8";

:root {
    --cor0: #FF01CF;
    --cor1: #993D88;
    --cor2: #330A2C;
    --cor3: #663D5F;
    --cor4: #332931;
    --cor5: #FFFFFF;
    --fonte-padrao: Arial, Verdana, Helvetica,sans-serif;
    --fonte-destaque: 'Open sans', cursive;
    --fonte-android: 'Android', cursive;
}

*{
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor5);
    font-family: var(--fonte-padrao);
}

html, body {
    height: 100%;
    overflow-y: hidden;
    overflow-x: hidden;
}

.center {
    display: flex;
    flex-wrap: wrap;
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 2%;
}

header {
    padding: 20px 0;
}

.logo {
    width: 50%;
}

.menu {
    padding-top: 30px;
    width: 50%;
    text-align: right;
}

.menu a {
    color: var(--cor1);
    padding: 10px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: duration 0.5s;
    margin-right: 15px;
}

.menu > a:hover {
    background-color: var(--cor1);
    color: var(--cor2);
}

section.sobre {
    height: calc(100% - 200px);
    position: relative;
}

.extras{
    position: absolute;
    padding: 150px;
    right: 600px;
    width: 2400px;
    height: 2400px;
    border-radius: 50%;
    background-color: var(--cor1);
}

.social-media {
    position: absolute;
    right: 510px;
    top: 40px;
}

.social-media img {
    display: block;
    width: 100px;
    margin: 10px 0;
}

.texto-sobre {
    margin-top: 100px;
    text-align: center;
}

.texto-sobre h1 {
    font-size: 40px;
    text-align: center;
}

.texto-sobre p{
    text-align: center;
    margin: 30px ;
    color: black;
    font-size: 15px;
    font-weight: bold;
    max-width: 600px;
}

.texto-sobre button {
    border: 0;
    background-color: var(--cor1);
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 30px;
    cursor: pointer;
}

.center, .texto-sobre {
    text-align: center;
}

.container-historia {
    float: right;

}